// Accent colors
// -------------------------
$neon:                 #6dff32;

// Scaffolding
// -------------------------
$bodyBackground:        #333;
$textColor:             #333;
$bodyBackgroundImage:   url('/assets/img/Gigstarter-holding-page%205.jpg');

// Links
// -------------------------
$linkColor:             $neon;

// Typography
// -------------------------
$sansFontFamily:        "Gafata", sans-serif;
$headingsFontFamily:    "Roboto Condensed", sans-serif;