// Accent colors
// -------------------------
$neon:                 #6dff32;

// Scaffolding
// -------------------------
$bodyBackground:        #f5f5f5;
$textColor:             #333;

// Links
// -------------------------
$linkColor:             $neon;

// Typography
// -------------------------
$sansFontFamily:        "Gafata", sans-serif;
$headingsFontFamily:    "Roboto Condensed", sans-serif;